/* This is the CSS styling for the mobile version */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html, body {
	font-family: "Open Sans", sans-serif;
	font-style: normal;
}

html, 
body,
.color-container1, 
.color-container2 {
	background-color: #faedcd;
}

main,
header,
#menu-button,
.color-container1 div,
.color-container2 div {
	margin: 0 auto;
}

main {
	padding: 1rem;
	background-color: #fefae0;
}

header {
    padding: 1.5rem 1rem;
}

header, 
a,
#menu-button, 
footer p,
.color-container1 div:nth-of-type(5),
.color-container1 div:nth-of-type(6),
.color-container2 div:nth-of-type(4),
.color-container2 div:nth-of-type(5),
.color-container2 div:nth-of-type(6) {
	color: #ffffff;
}

header, a, footer p {
	background-color: #7d5226;
}

h1, h2, .navigation a, footer p {
	text-align: center;
}

h2 {
	padding: 1rem 0rem 1.5rem 0rem;
}

h3 {
	padding-bottom: .5rem;
}

h3, p, div {
	color: #2e1e0f;
}

#siteName, #sitePurpose, #colorSchema, #scenarios p, .paragraph-font-example {
	text-align: justify;
}

.site-name {
	padding-bottom: .7rem;
}

#menu-button,
.color-container1 div,
.color-container2 div {
	display: block;
}

/* small view navigation */
#menu-button {
	font-size: 3.2rem;
	border: 0;
	background: none;
	position: absolute; 
	bottom: 0; 
}

#menu-button::before {
	content: "☰";
}

#menu-button.open::before {
	content: "✖";
}

.navigation {
	display: flex;
    flex-direction: column;
	list-style-type: none;
}

.navigation a, .paragraph-font-example {
	font-size: 1.25rem;
}

.navigation a {
    display: none;
    text-decoration: underline;
    padding: .8rem 0rem;
}

.navigation a:hover {
	font-size: 1.188rem;
}

.navigation a:active {
	text-decoration: none;
}

/* when the button is clicked - the open class is toggled (added/removed) */
.open a {
	display: block;
}

main section {
	margin-bottom: 1.5rem;
}

.color-container1, 
.color-container2 {
	padding: 0 .7rem .7rem .7rem;
}

.color-container1 div:nth-of-type(4),
.color-container1 div:nth-of-type(5),
.color-container1 div:nth-of-type(6),
.color-container2 div:nth-of-type(4),
.color-container2 div:nth-of-type(5),
.color-container2 div:nth-of-type(6) {
	height: 80px;
}

.color-container1 div:nth-of-type(4) {
	background: #fffbfc;
}

.color-container1 div:nth-of-type(5) {
	background: #242424;
}

.color-container1 div:nth-of-type(6) {
	background: #c73605;
}

.color-container2 {
	margin: 1rem 0rem .7rem 0rem;
}

.color-container2 div:nth-of-type(4) {
	background: #032d4a;
}

.color-container2 div:nth-of-type(5) {
	background: #107e77;
}

.color-container2 div:nth-of-type(6) {
	background: #338433;
}

.color-container1 {
	display: grid;
	grid-template-rows: repeat(2, auto);
	grid-template-columns: 1fr 1fr 1fr;
}

.color-container1:nth-child(1) {
	grid-row: 1 / 2;
	grid-column: 1 / 2;
}

.color-container1:nth-child(2) {
	grid-row: 1 / 2;
	grid-column: 2 / 3;
}

.color-container1:nth-child(3) {
	grid-row: 1 / 2;
	grid-column: 3 / 4;
}

.color-container1:nth-child(4) {
	grid-row: 2 / 3;
	grid-column: 1 / 2;
}

.color-container1:nth-child(5) {
	grid-row: 2 / 3;
	grid-column: 2 / 3;
}

.color-container1:nth-child(6) {
	grid-row: 2 / 3;
	grid-column: 3 / 4;
}

.color-container2 {
	display: grid;
	grid-template-rows: repeat(2, auto);
	grid-template-columns: 1fr 1fr 1fr;
}

.color-container2:nth-child(1) {
	grid-row: 1 / 2;
	grid-column: 1 / 2;
}

.color-container2:nth-child(2) {
	grid-row: 1 / 2;
	grid-column: 2 / 3;
}

.color-container2:nth-child(3) {
	grid-row: 1 / 2;
	grid-column: 3 / 4;
}

.color-container2:nth-child(4) {
	grid-row: 2 / 3;
	grid-column: 1 / 2;
}

.color-container2:nth-child(5) {
	grid-row: 2 / 3;
	grid-column: 2 / 3;
}

.color-container2:nth-child(6) {
	grid-row: 2 / 3;
	grid-column: 3 / 4;
}

p, div {
	font-size: 1.125rem;
	line-height: 1.6;
}

.heading1-font-example, 
.heading2-font-example,
.heading3-font-example {
	font-family: "Roboto", sans-serif;
}

.heading1-font-example, 
.heading2-font-example {
	line-height: 1.1;
}

.heading1-font-example {
	font-weight: 700;
	font-size: 3.375rem;
}

.navigation a, 
.heading2-font-example, 
.heading3-font-example {
	font-weight: 500;
}

.heading2-font-example {
	font-size: 2.625rem;
}

.heading3-font-example {
	font-size: 1.5rem;
}

.paragraph-font-example {
	font-family: "DM Sans", sans-serif;
	font-weight: 400;
}

#typography div:nth-of-type(2) {
	margin-top: .9rem;
}

#typography div:nth-of-type(3) {
	margin-top: 1.1rem;
}

#typography div:nth-of-type(4) {
	margin-top: 1rem;
}

footer p {
	font-size: 1rem;
}

footer p:nth-of-type(1) {
	padding: 1rem 1rem 0rem 1rem;
}

footer p:nth-of-type(2) {
	padding: 0rem 1rem 1rem 1rem;
}