/* This is the CSS styling for the tablet and desktop version */
@media (min-width: 768px) {
    body {
        height: 100vh;
    }

    select,
    textarea,
    input[type="date"],
    input[type="text"] {
        padding: .3rem;
    }

    .form-item:nth-of-type(5) {
        padding-top: 1.4rem;
    }

    .radio-group input[type="radio"] {
        width: 20px;
        height: 20px; 
    }

    .checkbox-group input[type="checkbox"] {
        transform: scale(1);
    }

    .checkbox-group {
        column-gap: .3rem;
        row-gap: 1rem;
    }
}