body {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

header, main, footer {
    max-width: 640px;
    margin: 1rem auto;
    border: 1px solid #bbb7b7;
    padding: 1rem;
    background-color: #96c7fa;
}

main {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1rem;
}

section {
    padding: 1rem;
    background-color: #fff;
}